<% provide(:title, "Home") %>

<div class = "logo2">

</div>

<div class="signup-form">
  <h1 class="signup-form-title">
    Pssst. This way to the door.
  </h1>
  <div>
    <%= form_for(User.new, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-fname">
        <%= f.text_field :first_name, class: 'form-control', placeholder: "First Name" %>
      </div>

      <div class="form-lname">
        <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
      </div>

      <div class="form-email">
        <%= f.email_field :email, class: 'form-control', placeholder: "UWaterloo Email" %>
      </div>

      <div class="form-password">
        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
      </div>

      <div class="form-password">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password" %>
      </div>

      <div class="form-signup">
        <%= f.submit "Sign Up", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
