<% provide(:title, 'Select Company') %>
<h1>Select Company</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@company, url: companies_path) do |f| %>
      <%= f.label :company %>
      <%= autocomplete_field_tag 'company', '', autocomplete_company_name_companies_path,
                                 'data-auto-focus': true,
                                 'data-noMatchesLabel': 'No companies found. Please create one!',
                                 'min-length': 0 %>
  <% end %>
  </div>
</div>

<div id="company_name"> </div>
<div id="company_description"> </div>
<div id="company_website"> </div>

<%= link_to "Continue with selected company", new_review_path, class: "btn btn-lg btn-primary", id:"continue_button"%>

<%= link_to "Create a≠ new company", new_company_path, class: "btn btn-lg btn-primary"%>