<% provide(:title, "#{@review.job_title} at #{@review.company.name}") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      User: <%= @review.user.first_name %> <%= @review.user.last_name %><br/>
      Company Name: <%= @review.company.name %><br/>
      Job Title: <%= @review.job_title %><br/>
      Rating: <%= @review.rating %><br/>
      Description: <%= @review.description %><br/>
      Salary: <%= @review.salary %><br/>
      Location: <%= @review.location %><br/>
      Term: <%= @review.term %><br/>
      Year: <%= @review.year %><br/>
      <%= link_to "Edit Review", edit_review_path(@review) %><br/>
      <%= link_to "Delete Review", @review, method: :delete %><br/>
    </section>
  </aside>
</div>
