<!DOCTYPE html>
<html>
  <head>
    <title>SydeDoor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= link_to "Sign up now!", signup_path %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
